name: AWS Connection Test

on:
  workflow_dispatch:
  push:
    branches:
      - develop

jobs:
  test-aws-connection:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Test AWS identity
        run: aws sts get-caller-identity

      - name: Test ECR access
        run: aws ecr describe-repositories --repository-names sb06/team02/otboo
